<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <!-- id="WebApp_ID" -->

    <!--<security-constraint>
    <web-resource-collection>
      <web-resource-name>All Apps</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
        <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>-->
    
	<!-- Clickstream -->
	<filter>
		<filter-name>clickstream-jforum</filter-name>
		<filter-class>net.jforum.util.legacy.clickstream.ClickstreamFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>clickstream-jforum</filter-name>
		<url-pattern>*.page</url-pattern>
	</filter-mapping>
    
    <listener>
    	<listener-class>net.jforum.ForumSessionListener</listener-class>
    </listener>

	<!-- JForum Controller -->
    <servlet>
		<servlet-name>jforum</servlet-name>
		<servlet-class>net.jforum.JForum</servlet-class>
		
		<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
    </servlet>

	<!-- Installer -->
    <servlet>
    	<servlet-name>install</servlet-name>
    	<servlet-class>net.jforum.InstallServlet</servlet-class>
    	
    	<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
    </servlet>



    <servlet>
      <servlet-name>MailingList</servlet-name>
      <servlet-class>MailingListServlet</servlet-class>
   </servlet>

    <!-- Mapping -->
    <servlet-mapping>
    	<servlet-name>install</servlet-name>
    	<url-pattern>/install/install.page</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
    	<servlet-name>jforum</servlet-name>
    	<url-pattern>*.page</url-pattern>
    </servlet-mapping>   
   
   <servlet-mapping>
      <servlet-name>MailingList</servlet-name>
      <url-pattern>/MailingList/response/</url-pattern>
   </servlet-mapping>

 
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>PCKitCompany@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>BuildIt!</param-value>
    </context-param>
    
    

   <!-- JForum settings -->

   
    <!-- <context-param>
        <param-name>pass</param-name>
        <param-value>AIzaSyCc8Mlj3DK52L6wQN3HIa86ez6TcVkj5Og</param-value>
    </context-param> -->
   <!--<welcome-file-list>
        <welcome-file>mailingList.jsp</welcome-file>
    </welcome-file-list>-->

</web-app>
