<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <!-- id="WebApp_ID" -->

    <!--<security-constraint>
    <web-resource-collection>
      <web-resource-name>All Apps</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
        <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>-->
  <session-config> 
    <cookie-config>
    <!--<secure>true</secure>-->
    <http-only>true</http-only>
  </cookie-config>
      <session-timeout>30</session-timeout> 
      <tracking-mode>COOKIE</tracking-mode> 
  </session-config>
    
	<!-- Clickstream -->
	<filter>
		<filter-name>clickstream-jforum</filter-name>
		<filter-class>net.jforum.util.legacy.clickstream.ClickstreamFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>clickstream-jforum</filter-name>
		<url-pattern>*.page</url-pattern>
	</filter-mapping>
    
    <listener>
    	<listener-class>net.jforum.ForumSessionListener</listener-class>
    </listener>

	<!-- JForum Controller -->
    <servlet>
		<servlet-name>jforum</servlet-name>
		<servlet-class>net.jforum.JForum</servlet-class>
		
		<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
    </servlet>

	<!-- Installer -->
    <servlet>
    	<servlet-name>install</servlet-name>
    	<servlet-class>net.jforum.InstallServlet</servlet-class>
    	
    	<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
    </servlet>


    

    <!-- Mapping -->
    <servlet-mapping>
    	<servlet-name>install</servlet-name>
    	<url-pattern>/install/install.page</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
    	<servlet-name>jforum</servlet-name>
    	<url-pattern>*.page</url-pattern>
    </servlet-mapping>   
    
    <!--CSRFGuard
    <listener>
		<listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>CSRFGuard</filter-name>
		<filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>CSRFGuard</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
             <param-name>Owasp.CsrfGuard.Config</param-name>
             <param-value>WEB-INF/Owasp.CsrfGuard.properties</param-value>
       </context-param>
       <context-param>
             <param-name>Owasp.CsrfGuard.Config.Print</param-name>
             <param-value>true</param-value>
       </context-param>
       
     <filter>
		<filter-name>CSRFGen</filter-name>
		<filter-class>GenerateCsrfFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>CSRFGen</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> --> 
   
   <!--Mailing List-->
   
   <servlet>
      <servlet-name>MailingList</servlet-name>
      <servlet-class>MailingListServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>MailingList</servlet-name>
      <url-pattern>/MailingList/response/</url-pattern>
   </servlet-mapping>



   <!-- Account Servlets -->
    <servlet>
      <servlet-name>AccountExists</servlet-name>
      <servlet-class>accounts.AccountExistsServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>AccountExists</servlet-name>
      <url-pattern>/accounts/account-exists/</url-pattern>
   </servlet-mapping>


   <servlet>
      <servlet-name>LoginExists</servlet-name>
      <servlet-class>accounts.LoginExistsServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>LoginExists</servlet-name>
      <url-pattern>/accounts/login-exists/</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>Register</servlet-name>
      <servlet-class>accounts.RegisterServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>Register</servlet-name>
      <url-pattern>/accounts/register/</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>accounts.LoginServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/accounts/login/</url-pattern>
   </servlet-mapping>
   
   
    <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>accounts.LogoutServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/accounts/logout/</url-pattern>
   </servlet-mapping>
   
   
   <!-- OrderServlets -->
   
   <servlet>
      <servlet-name>CreateCart</servlet-name>
      <servlet-class>store.servlets.CreateCartServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>CreateCart</servlet-name>
      <url-pattern>/OrderSection/createCart/</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
      <servlet-name>DeleteCart</servlet-name>
      <servlet-class>store.servlets.DeleteCartServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>DeleteCart</servlet-name>
      <url-pattern>/OrderSection/deleteCart/</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
      <servlet-name>DeleteCartsWithStatus</servlet-name>
      <servlet-class>store.servlets.DeleteCartStatusServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>DeleteCartsWithStatus</servlet-name>
      <url-pattern>/OrderSection/deleteCartsWithStatus/</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
      <servlet-name>AddToCart</servlet-name>
      <servlet-class>store.servlets.AddItemServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>AddToCart</servlet-name>
      <url-pattern>/OrderSection/addToCart/</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
      <servlet-name>RemoveFromCart</servlet-name>
      <servlet-class>store.servlets.RemoveItemServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>RemoveFromCart</servlet-name>
      <url-pattern>/OrderSection/removeFromCart/</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
      <servlet-name>UpdateCartStatus</servlet-name>
      <servlet-class>store.servlets.UpdateCartServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>UpdateCartStatus</servlet-name>
      <url-pattern>/OrderSection/updateCartStatus/</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>ProcessCart</servlet-name>
      <servlet-class>store.servlets.ProcessCartServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>ProcessCart</servlet-name>
      <url-pattern>/OrderSection/processCart/</url-pattern>
   </servlet-mapping>
   
    <servlet>
      <servlet-name>RestoreCart</servlet-name>
      <servlet-class>store.servlets.RestoreCartServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>RestoreCart</servlet-name>
      <url-pattern>/OrderSection/restoreCart/</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>CartExists</servlet-name>
      <servlet-class>store.servlets.CartExistsServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>CartExists</servlet-name>
      <url-pattern>/OrderSection/cartExists/</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>HasCart</servlet-name>
      <servlet-class>store.servlets.HasCartServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>HasCart</servlet-name>
      <url-pattern>/OrderSection/hasCart/</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>GetCartTotal</servlet-name>
      <servlet-class>store.servlets.GetCartCostServlet</servlet-class>
   </servlet>
   
   
   
   <servlet-mapping>
      <servlet-name>GetCartTotal</servlet-name>
      <url-pattern>/OrderSection/getCartTotal/</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>GetCartData</servlet-name>
      <servlet-class>store.servlets.GetCartDataServlet</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
      <servlet-name>GetCartData</servlet-name>
      <url-pattern>/OrderSection/getCartData/</url-pattern>
   </servlet-mapping>
   
   
 
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>PCKitCompany@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>BuildIt!</param-value>
    </context-param>
    
    

   <!-- JForum settings -->

   
    <!-- <context-param>
        <param-name>pass</param-name>
        <param-value>AIzaSyCc8Mlj3DK52L6wQN3HIa86ez6TcVkj5Og</param-value>
    </context-param> -->
   <!--<welcome-file-list>
        <welcome-file>mailingList.jsp</welcome-file>
    </welcome-file-list>-->

</web-app>
