.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}


#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    
    background: rgba(128,128,128,.5);
    z-index: 999;
}
#popup {
    position: absolute;
    width: 400px;
    height: 130px;
    background: #575757;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#msgSpan {

}

#linkSpan {
   width: 400px;
}

#deleteLink {
   left: 40px;
   width: 80px; 
}

#restoreLink {
   left: 280px;
   width: 80px;
}

#checkoutLink {
   left: 160px;
   width: 80px;
}

#cartMessageText {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   width: 360px;
   left: 20px;
   font-size: 18px;
   font-family: "RobotoCondensedBold";
   color: #FFFFFF;
   top: 10px;
   text-align: left;
   /*text-indent: 5%;*/
}

.cartActionLink {
   display: inline-block;
   position: absolute;
   font-size: 14px;
   font-family: "RobotoCondensedBold";
   color: #F9A825;
   text-align: center;
   /*padding:  30px;*/
   bottom: 25px;
   /*text-indent: 5%;*/
}
