/* Code by Clay Jacobs*/

/*Fonts*/
@font-face {
   font-family: "Roboto";
   src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoThin";
   src: url(../fonts/roboto/Roboto-Thin.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoBold";
   src: url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoCondensed";
   src: url(../fonts/roboto-condensed/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoCondensedBold";
   src: url(../fonts/roboto-condensed/RobotoCondensed-Bold.ttf) format("truetype");
}