/*Mailing List Styles*/
#logoImageHeader {
   display: inline-block;
   position: absolute;
   width: 170px;
   height: 170px;
   top: 50px;
   left: calc(50% - 85px);
}

#form-description {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: 230px;
   left: calc(50% - 312px);
   width: 625px;
   font-family: "RobotoCondensed";
   font-size: 20px;
   color: #FFFFFF;
   text-align: center;
   /*text-indent: 5%;*/
}

#mailingForm {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: 280px;
   left: calc(50% - 312px);
}

.mailField {
   width: 100px;
   font-family: "RobotoCondensedBold";
   color: #FFFFFF;
}

#formKey {
   size: 11px;
   
   margin: -4px auto;
   width: 625px;
   text-align: center;
}

#requiredStar {
   font-family: "RobotoBold";
   vertical-align: super;
   font-size: smaller;
   color: #F9A825;
}

#requiredDescription {
   font-family: "Roboto";
   color: #FFFFFF;
}

#firstNameText {
   width: 219px;
}

#lastNameLabel {
   left: 50%;
}

#lastNameText {
   width: 219px;
   margin-right: 10px;
}

#emailSection {
   position: absolute;
   margin-top: -10px;
   padding-bottom: 20px;
}

#emailLabel {
   margin-left:32px;
}

#emailText {
   width: 529px;
}

#companySection {
   position: absolute;
   margin-top: 23px;
   padding-bottom: 20px;
}

#companyLabel {
   margin-left:13px;
}

#companyText {
   width: 529px;
}

#notesText {
   resize: none;
}

#iSelectSpan {
   display:block;
   margin-top: 50px;
   padding-bottom: 20px;
}

#interestSection {
   display:block;
   position:absolute;
   left:calc(50% - 176px);
}

#interestOtherText {
   position:absolute;
   margin-top:4px;
   left:calc(50% + 60px);
}

#interestOtherLabel {
   display: inline-block;
   position:absolute;
   left:calc(50% - 45px);
   margin-top:4px;
}



#aSelectSpan {
   display:block;
   /*margin-top: 30px;*/
   margin-top: 10px;
   padding-bottom: 20px;
   
}

#adMediumSection {
   display:block;
   position:absolute;
   left:calc(50% - 178px);
}

#adMediumSelect {
   float:right;
}

#adMediumOtherText {
   position:absolute;
   left:calc(50% + 35px);
}

#adMediumOtherLabel {
   display: inline-block;
   position:absolute;
   left:calc(50% - 70px);
}



#miscInputSection {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   /*top: 205px;*/
   top:185px;
   left:calc(50% - 161px);
   height: 229px;
}

#notesLabel {
   position: absolute;
   width: 238px;
   left:calc(50% - 119px);
}

#charCounter {
   font-family: "Roboto";
   color: #FFFFFF;
}

#submitFormButton {
   position: absolute;
   left:calc(50% - 48px);
}

#formFieldLabel {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   /*top: 230px;
   left: calc(50% - 312px);*/
   width: 625px;
   font-family: "RobotoCondensed";
   font-size: 12px;
   color: #FFFFFF;
   text-align: center;
   /*text-indent: 5%;*/
}

/*Mailing List form error styling*/

#formErrorsDiv {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: 280px;
   left: calc(50% - 312px);
}

#formErrorsInfo {
   font-family: "Roboto";
   font-size: 15px;
   color: #FFFFFF;
   margin-bottom: 5px;
   
}

#errorsList {
   margin-top: 0px;
}

.formErrorReason {
   font-family: "Roboto";
   font-size: 15px;
   color: #FF0000;
}
