/* Code by Clay Jacobs*/

/*Util & Dynamic styling*/
input:focus, input:active {
   outline: none;
}

div.fill-screen {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   z-index: -1;
   overflow-y: visible;
}

img.make-it-fit {
   width: 100vw;
   max-height: 100vh;
   height: 100vh;
   width: inherit;
   z-index: -1;
}

.centerHorizontally {
   margin: 0 auto;
   display: block;
}

.scrollable {
   overflow-y: scroll;
}

/*Main div styles*/
#pageDiv {
   position: fixed;
   top: -50%;
   left: -50%;
   width: 100%;
   height: 100%;
}

#mainContentDiv {
   display: inline-block;
   z-index: 1;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 4vh;
   width: 100%;
}


/*Site Nav Bar Styles*/
#siteNavDiv {
   display: inline-block;
   position: absolute;
   background-color: #000000;
   z-index: 1;
   max-width: 100%;
   max-height: 4vh;
   left: 0;
   right: 0;
   bottom: 0px;
   width: 100%;
   height: 4vh;
   top: 96vh;
   margin: 0;
   padding: 0;
}

#siteNavLinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
   
}

.siteNavItem {
   display: inline;
   padding: 0px 10px;
}

.siteNavLink {
   color: #FFFFFF;
   font-family: "RobotoCondensedBold";
   font-size: 3vh;
   text-decoration: none;
}
