/*Fonts*/
@font-face {
   font-family: "Roboto";
   src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoThin";
   src: url(../fonts/roboto/Roboto-Thin.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoBold";
   src: url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoCondensed";
   src: url(../fonts/roboto-condensed/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
   font-family: "RobotoCondensedBold";
   src: url(../fonts/roboto-condensed/RobotoCondensed-Bold.ttf) format("truetype");
}

/*Util & Dynamic styling*/
input:focus, input:active {
   outline: none;
}

div.fill-screen {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 100%;
   z-index: -1;
   overflow-y: visible;
}

img.make-it-fit {
   width: 100vw;
   max-height: 100vh;
   height: 100vh;
   width: inherit;
   z-index: -1;
}

.centerHorizontally {
   margin: 0 auto;
   display: block;
}

.scrollable {
   overflow-y: scroll;
}

/*Main div styles*/
#pageDiv {
   position: fixed;
   top: -50%;
   left: -50%;
   width: 200%;
   height: 200%;
}

#mainContentDiv {
   display: block;
   z-index: 1;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 4vh;
   width: 100%;
}

/*Placeholder Page Styles*/
#logoImage {
   display: inline-block;
   position: absolute;
   width: 20vw;
   height: 20vw;
   top: 120px;
   left: 40vw;
}


#placeholderText {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: calc(160px + 20vw);
   width: 100%;
   font-family: "RobotoCondensed";
   font-size: 10.56vh;
   color: #FFFFFF;
   text-align: center;
   
}

/*Mailing List Styles*/
#logoImageHeader {
   display: inline-block;
   position: absolute;
   width: 170px;
   height: 170px;
   top: 50px;
   left: calc(50% - 85px);
}

#form-description {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: 230px;
   left: calc(50% - 312px);
   width: 625px;
   font-family: "RobotoCondensed";
   font-size: 20px;
   color: #FFFFFF;
   text-align: center;
   /*text-indent: 5%;*/
}

#mailingForm {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: 280px;
   left: calc(50% - 312px);
}

.mailField {
   width: 100px;
   font-family: "RobotoCondensedBold";
   color: #FFFFFF;
}

#formKey {
   size: 11px;
   
   margin: -4px auto;
   width: 625px;
   text-align: center;
}

#requiredStar {
   font-family: "RobotoBold";
   vertical-align: super;
   font-size: smaller;
   color: #F9A825;
}

#requiredDescription {
   font-family: "Roboto";
   color: #FFFFFF;
}

#firstNameText {
   width: 219px;
}

#lastNameLabel {
   left: 50%;
}

#lastNameText {
   width: 219px;
   margin-right: 10px;
}

#emailSection {
   position: absolute;
   margin-top: -10px;
   padding-bottom: 20px;
}

#emailLabel {
   margin-left:32px;
}

#emailText {
   width: 529px;
}

#companySection {
   position: absolute;
   margin-top: 23px;
   padding-bottom: 20px;
}

#companyLabel {
   margin-left:13px;
}

#companyText {
   width: 529px;
}

#notesText {
   resize: none;
}

#iSelectSpan {
   display:block;
   margin-top: 50px;
   padding-bottom: 20px;
}

#interestSection {
   display:block;
   position:absolute;
   left:calc(50% - 176px);
}

#interestOtherText {
   position:absolute;
   margin-top:4px;
   left:calc(50% + 60px);
}

#interestOtherLabel {
   display: inline-block;
   position:absolute;
   left:calc(50% - 45px);
   margin-top:4px;
}



#aSelectSpan {
   display:block;
   /*margin-top: 30px;*/
   margin-top: 10px;
   padding-bottom: 20px;
   
}

#adMediumSection {
   display:block;
   position:absolute;
   left:calc(50% - 178px);
}

#adMediumSelect {
   float:right;
}

#adMediumOtherText {
   position:absolute;
   left:calc(50% + 35px);
}

#adMediumOtherLabel {
   display: inline-block;
   position:absolute;
   left:calc(50% - 70px);
}



#miscInputSection {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   /*top: 205px;*/
   top:185px;
   left:calc(50% - 161px);
   height: 229px;
}

#notesLabel {
   position: absolute;
   width: 238px;
   left:calc(50% - 119px);
}

#charCounter {
   font-family: "Roboto";
   color: #FFFFFF;
}

#submitFormButton {
   position: absolute;
   left:calc(50% - 48px);
}

#formFieldLabel {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   /*top: 230px;
   left: calc(50% - 312px);*/
   width: 625px;
   font-family: "RobotoCondensed";
   font-size: 12px;
   color: #FFFFFF;
   text-align: center;
   /*text-indent: 5%;*/
}

/*Mailing List form error styling*/

#formErrorsDiv {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: 280px;
   left: calc(50% - 312px);
}

#formErrorsInfo {
   font-family: "Roboto";
   font-size: 15px;
   color: #FFFFFF;
   margin-bottom: 5px;
   
}

#errorsList {
   margin-top: 0px;
}

.formErrorReason {
   font-family: "Roboto";
   font-size: 15px;
   color: #FF0000;
}

/*Site Nav Bar Styles*/
#siteNavDiv {
   display: block;
   position: absolute;
   background-color: #000000;
   z-index: 1;
   max-width: 100%;
   max-height: 4vh;
   width: 100%;
   height: 4vh;
   top: 96vh;
}

#siteNavLinks {
   list-style-type: none;
   margin: 0;
   padding: 0;
   
}

.siteNavItem {
   display: inline;
   padding: 0px 10px;
}

.siteNavLink {
   color: #FFFFFF;
   font-family: "RobotoCondensedBold";
   font-size: 3vh;
   text-decoration: none;
}