/*Select games styles*/

.orderNavButton {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 87vh;
  z-index: 2;
}

.actionText {
  display: inline-block;
  position: absolute;
  font-family: "Roboto";
  font-size: 49.7px;
  color: #F9A825;
  text-align: center; 
}

.gameCell {
   margin-left: 10px;
   margin-right: 10px;
}

.gameTableRow {
   margin-top: 5px;
   margin-bottom: 5px;
   margin: 0 auto;
   /*text-align: left;*/
}

.qualityOption {
   display: inline-block;
   width: 110px;
   height: 50px;
   /*float: left;*/
   margin: 0;
   padding: 0;
   border: none;
   font-family: "Roboto";
   font-size: 22px;
}

.qualityOption:active {
   display: inline-block;
   width: 110px;
   height: 50px;
   /*float: left;*/
   margin: 0;
   padding: 0;
   border: none;
   font-family: "Roboto";
   font-size: 22px;
   color:#000000;
}


.qualityUnselected {
   background-color: #F1C93E;
}

.qualitySelected {
   background-color: #F9A825;
}

.gameSelected {
   border: 4px solid green;
}


#backButton {
  position: fixed;
  left: 1.5vw;
}

#nextButton {
  
  position: fixed;
  right: 1.5vw;
}

#selectGamesP {
  top: 60px;
  width:100%;

}

#gameSelect {
   display: inline-block;
   position: absolute;
   width: 100%;
}

#gamesTable {
   /*display: inline-block;
   position: absolute;*/
   margin: 0 auto;
   border-collapse: collapse;
   border-spacing: 20px;
  /* margin-top: 160px;*/
   /*text-align: center;*/
}

#selectQualityP {
  width: 100%;
}


#qualitySelect {
   display: block;
   width: 460px;
   background-color: #F9A825;
   margin: 0px auto;
}

/*Game select form error styling*/

#formErrorsDiv {
   display: inline-block;
   position: absolute;
   margin: 0 auto;
   top: 60px;
   left: calc(180px);
}

#formErrorsInfo {
   font-family: "Roboto";
   font-size: 15px;
   color: #FFFFFF;
   margin-bottom: 5px;
   
}

#errorsList {
   margin-top: 0px;
}

.formErrorReason {
   font-family: "Roboto";
   font-size: 15px;
   color: #FF0000;
}

