/*Select games styles*/

.orderNavButton {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 87vh;
  z-index: 2;
}

.actionText {
  display: inline-block;
  position: absolute;
  font-family: "Roboto";
  font-size: 49.7px;
  color: #F9A825;
  text-align: center; 
}

.qualityOption {
   display: inline-block;
   width: 90px;
   height: 20px;
   float: left:
}

#backButton {
  position: fixed;
  left: 1.5vw;
}

#nextButton {
  
  position: fixed;
  right: 1.5vw;
}

#selectGamesP {
  top: 60px;
  width: 100%;
}

#gameSelect {
   display: block;
   position: absolute;
   width: 100%;
}

#gamesTable {
   display: inline-block;
   position: absolute;
}

#selectQualityP {
  width: 100%;
}


#qualitySelect {
   display: block;
   position: absolute;
   width: 100%;
}
